
canvas {
  /* background-image: url('https://cdn.vectorstock.com/i/1000x1000/92/94/background-for-your-game-created-in-modern-purple-vector-15539294.webp'); */
  background-image: url(bg3.jpg);
  background-size: cover ;
  background-position-y:-10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
  /* font-family: "Courier New", Courier, monospace; */

  margin: 0;
}
/* main{
  position: fixed;
  top: 0;
  width: 100%;
height: 100%;
 z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
} */
#show ,.letter{
  padding: 10px;
  border: none;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  background: transparent;
  color: black;
}
h3 ,.letter {
  position: absolute;

  font-size: 3rem;
}


span {
  font-size: 1.3rem;

  /* position: absolute; */
  /* top: 0; */
}
.box{
  position: absolute;
  bottom: 0;
  width: 8vw;
  overflow: hidden;

}
#level{
  margin: 10px;
border-radius:20px ;
padding: 10px;
  background-color: antiquewhite;
}
.navBar{
  /* position: fixed; */
  top: 0;
    width: 100%;
  /* height: 100%; */
  /* background: rgba(0, 0, 0, 0.6); */
  backdrop-filter: blur(2px);
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
/* border: 10px solid red; */

}
#catch{
  position: static;
}
#score{
  position: relative;
/* top:3vh; */
/* right: 5vw; */

  /* border: 10px solid blue; */
}
.score img{
  /* display: flex; */
  height: 4vh;
  width: 2vw;
}
hr{
  width: 97vw;
  border-color: #58745a ;
}

.modalWin h3{

  position: relative;
  font-family: monospace;
  font-weight: 900;
  
  /* border: 10px solid red; */

}
.modalWin img{
  height: 15vh;
  width: 10vw;
}
.modal{ background-color: black;
  color: yellow;}
.modal {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height:60vh;
  /* color: rgb(45, 42, 42);
  background:linear-gradient(
    #fec0c1 ,#6d4f6a)
 ;  */
 /* text-shadow: 4px 2px 0px red; */
  border:none;
 border-radius: 15px;
  z-index: 2;
}
.scorewin{
 text-align: center;
  /* border: 10px solid red; */
}.scorewin h3{
  margin: 0px;
}
.modalWin{
  border:none;
  border-radius: 15px;
   z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  /* height:max-content; */
   background: linear-gradient(
          -135deg,
       #366339 ,  
           #9ca19c
        ); }
.overlay,.overlayWin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
.btnArrow img{
  width: 50%;
  /* border: 1px solid red; */
}
.btnArrow{
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  max-width: 30vw;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h3 {
  /* border: 10px solid red; */
position: relative;
  align-content: center;

}

.modal img{
  
  position: relative;
  /* border: 10px solid red; */
}




.hidden,.hiddenWin{

  display: none;
  
}
.detals{
  margin-left: 10px;
  
  /* border: 10px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media only screen and (max-width:1200px) {
  canvas{
    background-position-y:0vh;

  }}
/* -------------------------------600px Iphone */

@media only screen and (max-width:700px) {
canvas{
  background-position-y:0vh;

}

.box{
  bottom: 10px;
  width: 20vw;
}


.score img{
  height: 3vh;
  width: 4vw;
}
.btnArrow{
    display: flex;

}


/* .modalWin img{
  height: 15vh;
  width: 10vw;
} */

.modal ,.modalWin{
height: 40vh;
width: 70vw;

}

.scorewin img{
width: 10vw;
height: 10vh;

}






.hidden,.hiddenWin{

  display: none;
  
}

}


